html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    background-color:#ff69B4;
    color: white;
    padding: 0.5rem 0.25rem;
    height: 150px;

}

header h1{
    font-size: 4rem;
    text-align: center;
}

.card {
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    width: 300px;
    margin: 1rem auto;
    padding: 2px 16px;
    border-radius: 0.5rem;
    text-align: center;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img {
    width: 300px;
    height: 300px;
    border-radius: 2px 2px 0 0;
    display: block;
    margin-left: auto;
}

.hide {
    display: none;
}

.card-img-small {
    width: 100px;
    height: 100px;
    margin-top: 20px;   
    border-radius: 2px 2px 0 0;

}

section h2, section p, section h4, section h3 {
    text-align: center;
}

.button {
    border-radius: 5px;
    border: none;
    background-color: #ff69B4;
    margin: 2px;
    padding: 5px;
    color: rgb(255, 240, 252);
    text-align: center;

}

.button-operation {
    border-radius: 5px;
    border: none;
    background-color: #ff69B4;
    color: #fff;
    margin: 2px 2px 2px 2px;
    text-align: center;
    width: 30px;
    height: 30px;
}

#pay-btn{
    width: 100%;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
}

button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.error-message {
  color: red;
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  height: 12px;
}

.form{
    width: 100%;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #222;
    font-size: 18px;
}

form p {
    height: 40px;
    text-align: center;
}

form a {
    color: black;
    text-decoration: none;

}

form a:hover {
    color: #ff69B4;
    text-decoration: underline;
}

.footer{
    background-color: #222;
    padding: 3rem;
    color: #fff;
    margin-top: auto;

}

footer div {
    float: right;
}

footer p{
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;

}

footer a:hover {
    color: #ff69B4;
}